@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body .b {
  /* background: #1C8EF9 !important; */
  min-height: 150vh;
  min-width: 200;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  
}

h1,h2,h3,h4,h5,h6,label,span .b {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper  {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.sup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.sup {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

/*  */

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.col-md-12 .form-group:nth-child(1n)
{
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

div.container4
 {
  height: 10em;
  position: relative 
}
div.container4 p {
  margin: 0;
  position: absolute;
  top: 200%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

div.scheme :link, h3{
  text-decoration:none;
  color:royalblue
 }

.scheme{
  justify-content: flex-end;
  text-align: left;
  
}

.has-error input[type="text"], .has-error input[type="email"], .has-error select {
  border: 1px solid #a94442;
}